body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.landing {
  text-align: bottom;
  color: white;
  padding-top: 50px;
  margin-left: -40px;
  text-shadow: 2px 2px black;
}

.landingpage {
  background-image: url(https://i.imgur.com/WMyiOID.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 120wh;
  color: white;
}
h3 {
  margin-top: 50px;
  text-shadow: 2px 2px black;
}

::placeholder {
  color: white;
}

.left-brand-logo {
  font-family: "Signika";
  font-size: 30px;
}
.btn {
  background-color: blueviolet;
  color: white;
}
.btn:hover {
  background-color: #B477ED;
  color: white;
}

p {
  color: black;
}

li {
  color: black;
}
@keyframes example {
  from {background-image: url(https://i.imgur.com/X9d9ldD.jpg)}
  to {background-image: url(https://i.imgur.com/cIV3xyA.jpg)}
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 120wh;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


@keyframes example1 {
  from  {background-color: blueviolet;}
  to  {background-color: #B477ED;}
}
footer.page-footer {
  padding-top: 0;
  text-align: right;
  animation-name: example1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  
}
.nav-wrapper {
  animation-name: example1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
