@media only screen and (min-width: 700px) {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .profile {
    background-image: url(https://i.imgur.com/HyvEz9k.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .landing {
    text-align: bottom;
    color: white;
    padding-top: 50px;
    margin-left: -40px;
    text-shadow: 2px 2px black;
    font-family: "Signika";
  }

  .landingpage {
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 5s ease-in-out;
    background-image: url(https://i.imgur.com/WMyiOID.jpg);
  }

  .landingpage.left {
    color: white;
    text-indent: left;
    font-family: "Signika";
  }
  .landingpage.left:hover {
    color: black;
    font-family: "Signika";
  }

  .landingpage:hover {
    background-image: url(https://i.imgur.com/AYgxAlJ.jpg);
  }

  .landingtext {
    font-family: "Signika";
    font-size: 16px;
    text-shadow: 2px 2px black;
    color: white;
  }
  .card1 {
    background-color: white;
    background-size: cover;
    transition: 8s ease-in-out;
    min-width: 100vh;
    animation-iteration-count: infinite;
    font-family: "Signika";
  }
  .card1:hover {
    background-color: #eef8fd;
    animation-iteration-count: infinite;
    font-family: "Signika";
  }

  ::placeholder {
    color: white;
    font-family: "Signika";
  }

  .left-brand-logo {
    font-family: "Signika";
    font-size: 30px;
  }

  .btn {
    background-color: blueviolet;
    color: white;
    font-family: "Signika";
  }
  .btn:hover {
    background-color: #b477ed;
    color: white;
    font-family: "Signika";
  }

  p {
    color: black;
    font-family: "Signika";
  }

  h5 {
    font-family: "Signika";
    text-shadow: 2px 2px black;
    color: white;
  }

  #cardimage {
    background-color: transparent;
  }

  .right {
    display: inline;
  }

  #profile {
    font-family: "Signika";
    font-size: 16px;
    text-shadow: 2px 2px black;
    color: white;
  }

  @keyframes example {
    from {
      background-image: url(https://i.imgur.com/X9d9ldD.jpg);
    }
    to {
      background-image: url(https://i.imgur.com/cIV3xyA.jpg);
    }
  }

  .home {
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 120wh;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  @keyframes example1 {
    from {
      background-color: blueviolet;
    }
    to {
      background-color: #b477ed;
    }
  }
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    animation-name: example1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    min-width: 100vh;
  }
  .nav-wrapper {
    animation-name: example1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    min-width: 100vh;
  }

  .hidden {
    display: none;
  }
  .left {
    color: white;
    text-indent: right;
    font-family: "Signika";
    font-size: 16px;
    margin-left: 10px;
  }
  .left:hover {
    color: black;
    font-family: "Signika";
    font-size: 16px;
  }

  .smaller-row {
    flex-grow: 3;
    padding-top: 30px;
    min-width: 100wh;
  }

  .about {
    background-image: url(https://i.imgur.com/dJ58xM7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 120wh;
  }
  .saved {
    background-image: url(https://i.imgur.com/0flxxZa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: swing 5s ease;
    animation-iteration-count: infinite;
  }
  h2 {
    color: white;
    text-shadow: 2px 2px black;
    font-family: "Signika";
  }

  h3 {
    color: white;
    text-shadow: 4px 4px black;
    font-family: "Signika";
    text-overflow: inherit;
    margin-left: -50px;
  }

  h4 {
    color: black;
    text-shadow: 2px 2px white;
    font-family: "Signika";
    font-size: 30px;
  }
  .right {
    font-family: "Signika";
    font-size: 16px;
  }

  .delete {
    color: blue;
    font-size: 20px;
  }
  .delete:hover {
    color: blueviolet;
    font-size: 24px;
  }

  .deleted {
    background-image: url(https://i.imgur.com/mN3UYqX.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 120wh;
  }

  #search_box {
    color: white;
    font-family: "Signika";
    font-size: 20px;
  }
  input#search_box {
    font-family: "Signika";
    font-size: 16px;
    color: white;
  }
  #skill {
    color: white;
  }
  .howto {
    color: #b477ed;
    font-size: 36px;
  }
}
