body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.landing {
  text-align: bottom;
  color: white;
  padding-top: 50px;
  margin-left: -40px;
  text-shadow: 2px 2px black;
}
@keyframes example2 {
  from {
    background-image: url(https://i.imgur.com/WMyiOID.jpg);
  }
  to {
    background-image: url(https://i.imgur.com/AYgxAlJ.jpg);
  }
}
.landingpage {
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 120wh;
  color: white;
  animation-name: example2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
h3 {
  margin-top: 50px;
  text-shadow: 2px 2px black;
}

::placeholder {
  color: white;
}

.left-brand-logo {
  font-family: "Signika";
  font-size: 30px;
}
.btn {
  background-color: blueviolet;
  color: white;
}
.btn:hover {
  background-color: #B477ED;
  color: white;
}

p {
  color: black;
}

li {
  color: black;
}
@keyframes example {
  from {
    background-image: url(https://i.imgur.com/X9d9ldD.jpg);
  }
  to {
    background-image: url(https://i.imgur.com/cIV3xyA.jpg);
  }
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 120wh;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes example1 {
  from {
    background-color: blueviolet;
  }
  to {
    background-color: #b477ed;
  }
}
footer.page-footer {
  padding-top: 0;
  text-align: right;
  animation-name: example1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.nav-wrapper {
  animation-name: example1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.hidden {
  display: none;
}
.left {
  color: white;
  text-indent:left;
}
.left:hover {
  color: black;
}

.smaller-row {
  flex-grow: 3;
  padding-top: 30px;
  min-width: 100wh;
  }

.about {
  background-image: url(https://i.imgur.com/Fj8XJS9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 120wh;
}