{% extends 'nav.html' %} {% block content %}
  <body class="landingpage">
          <ul class="right">
            <form method="get" action="search/" class="landingtext">
              {% csrf_token %}
              <input 
                id="search_box"
                type="text"
                name="search_box"
                placeholder="Search for your next career"
              />
              <button class="btn" id="search_submit" type="submit" margin-top="20px">Submit</button>
            </form>
          </ul>
    <h3>Let the journey begin</h3>
    </body>
{% endblock %}
