{% extends 'nav.html' %} {% block content %}
<body class="profile">
<h2>Build your profile</h2>
<p id="profile">First Name: {{ profile.user.first_name }}</p>
<p id="profile">Last Name: {{ profile.user.last_name }}</p>
<p id="profile">Email: {{ profile.user.email }}</p>
<p id="profile">Phone: {{ profile.phone }}</p>
<p id="profile">City: {{ profile.city }}</p>
<p id="profile">Postal code: {{ profile.zipcode }}</p>
<p id="profile">Gender: {{ profile.gender }}</p>
<p id="profile">Skills:</p>
{% for skill in profile.skills.all %} {{ skill.name}}<br /><a
  href="{% url 'skill_delete' skill.id %}"
  >Delete</a
><br />
{% endfor %}

<p id="profile">Industries:</p>
<p id="profile">{% for industry in profile.industries.all %} {{ industry.name}}</p><br />
{% endfor %}
<button>
  <a href="{% url 'profile_update' profile.id %}">Edit Profile</a>
</button>

<form action="{% url 'add_skill' %}" method="post">
  {% csrf_token %} {{ skill_form.as_p }}
  <input font color:"black" type="submit" class="btn" value="Add Skill" />
</form>
</body>
{{alltitles}}{% endblock %}
