{% extends 'nav.html' %} {% block content %} {% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Your saved jobs</h1>
{% endif %}
  <li>
    <a href="{{ mergedtitleurl.1.2 }}"><h5>{{ mergedtitleurl.0.2 }}</h5></a>
    <form method="post" action="{% url 'savedjobs' %}">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" class="btn" value="Save Job" />
    </form>
  </li>
  <!-- Django requires the following for security purposes -->
  {% csrf_token %}
</form>
{% endblock %}
