{% extends 'nav.html' %} {% block content %}
<body class="saved">
<h2>Your saved jobs</h2>
{% for job in savedjobs %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">
              <a href="{{job.url}}"><h5>{{job.title}}</h5>
            </span>
            <p>Company: {{ job.company }}</p>
            <p>Description: {{ job.description }}</p>
        <a class="delete right" href="{% url 'job_delete' job.id %}">
    <span>Delete</span><i class="material-icons">delete</i>
  </a>
</div>
        
    </div>
  </a>
  
  <br />
</body>
{% endfor %}
{% endblock %}



  
