{% extends 'nav.html' %} {% block content %}
<body class="card1">
<h1>Search for your career</h1>
<style>
  body {
    color: black;
  }
</style>
<h4>List of Jobs</h4>
<ul>
{% for job in listofjobs %}
  <li>
    <a href="{{job.1}}"><h5>{{job.0}}</h5>
    <p>{{job.2}}</p>
    <p>{{job.3}}</p>
    <form method="post" action="{% url 'savejob' %}">
        {% csrf_token %} 
        <div class="hidden">
          {{ job.4.as_p }}
        </div>
    {% if job.5 %}        
      <input type="submit" class="btn" value="Saved" disabled/>  
    {% else %}
      <input type="submit" class="btn" value="Save Job" />
    {% endif %}
    </form>
  </li>
{% endfor  %}
</ul>
</body>
{% endblock %}
