{% extends 'nav.html' %} {% block content %}
<h1>Search for your next career</h1>
<style>
  body {
    color: white;
  }
</style>
<h3>List of Jobs</h3>






<ul>
  <li>
    <a href="{{ mergedtitleurl.1.0 }}"><h5>{{ mergedtitleurl.0.0 }}</h5></a>
    <p>{{ mergedtitleurl.2.0 }}</p>
    <p>{{ mergedtitleurl.3.0 }}</p>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" class="btn" value="Save Job" />
    </form>
  </li>
  <li>
    <a href="{{ mergedtitleurl.1.1 }}"><h5>{{ mergedtitleurl.0.1 }}</h5></a>
    <p>{{ mergedtitleurl.2.1 }}</p>
    <p>{{ mergedtitleurl.3.1 }}</p>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" class="btn" value="Save Job" />
    </form>
  </li>
  <li>
    <a href="{{ mergedtitleurl.1.2 }}"><h5>{{ mergedtitleurl.0.2 }}</h5></a>
    <p>{{ mergedtitleurl.2.2 }}</p>
    <p>{{ mergedtitleurl.3.2 }}</p>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" class="btn" value="Save Job" />
    </form>
  </li>
  <li>
    <a href="{{ mergedtitleurl.1.3 }}"><h5>{{ mergedtitleurl.0.3 }}</h5></a>
    <p>{{ mergedtitleurl.2.3 }}</p>
    <p>{{ mergedtitleurl.3.3 }}</p>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" class="btn" value="Save Job" />
    </form>
  </li>
  <li>
    <a href="{{ mergedtitleurl.1.4 }}"><h5>{{ mergedtitleurl.0.4 }}</h5></a>
    <p>{{ mergedtitleurl.2.4 }}</p>
    <p>{{ mergedtitleurl.3.4 }}</p>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" class="btn" value="Save Job" />
    </form>
  </li>
</ul>
{% endblock %}







{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Saved Job</h1>
{% endif %}
<!-- Leaving the action empty makes the form post to the same url used to display it -->
<form action="" method="post">
  <!-- Django requires the following for security purposes -->
  {% csrf_token %}
  <table>
    <!-- Render the inputs inside of <tr>s & <td>s -->
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn" />
</form>
 {{alltitles}} {% endblock %}

